apiVersion: v1
kind: Service
metadata:
  name: tracking-service
  namespace: educonnect
  labels:
    app: tracking-service
    component: user-tracking
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    app: tracking-service
