apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: educonnect
  labels:
    app: frontend
    component: web
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    app: frontend