apiVersion: v1
kind: ConfigMap
metadata:
  name: educonnect-config
  namespace: educonnect
  labels:
    {{- include "educonnect.labels" . | nindent 4 }}
data:
  # MongoDB Configuration
  MONGODB_NAME: {{ .Values.global.mongodb.database | quote }}

  # AWS Configuration
  AWS_REGION: {{ .Values.global.aws.region | quote }}

  # Cognito Configuration
  COGNITO_USER_POOL_ID: {{ .Values.global.cognito.userPoolId | quote }}
  COGNITO_APP_CLIENT_ID: {{ .Values.global.cognito.appClientId | quote }}
  JWKS_CACHE_TTL: {{ .Values.global.cognito.jwksCacheTtl | quote }}
  ALLOW_INSECURE_JWT: {{ .Values.global.cognito.allowInsecureJwt | quote }}

  # Service URLs (internal cluster communication)
  MEDIA_SERVICE_URL: "http://media-service.educonnect.svc.cluster.local:8001"
  USER_SERVICE_URL: "http://user-service.educonnect.svc.cluster.local:5002"
  TRACKING_SERVICE_URL: "http://tracking-service.educonnect.svc.cluster.local:8002"

  # Flask Configuration
  FLASK_APP: "app"
  FLASK_ENV: "production"

   # CORS Configuration
  CORS_ORIGINS: {{ printf "http://%s,https://%s" .Values.global.domain .Values.global.domain | quote }}

  # Frontend Configuration (build-time variables)
  VITE_AWS_REGION: {{ .Values.frontend.env.viteAwsRegion | quote }}
  VITE_AWS_USER_POOL_ID: {{ .Values.global.cognito.userPoolId | quote }}
  VITE_AWS_USER_POOL_CLIENT_ID: {{ .Values.global.cognito.appClientId | quote }}
  VITE_BACKEND_URL: {{ .Values.frontend.env.viteBackendUrl | quote }}
